div {
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 750px;
    text-align: center;
    background-color: black;
}

div h1 {
    color: blue;
}

.texto, .texto2, .texto3 {
    text-align: justify;
    text-indent: 15px;
    color: whitesmoke;
}

#sub {
    color: red;
}

h2 {
    color: violet;
}